@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --bgcolor-body: #ffffff;
  --bgcolor-filter-btn: #f5f4fa;
  --bgcolor-order-service-btn: #2196f3;
  --bgcolor-order-service-btn-hover: #188ce8;
  --bgcolor-filter-btn-active: #2196f3;
  --bgcolor-footer: #2f303a;

  --fontcolor-body: #212121;
  --fontcolor-navigation: #212121;
  --fontcolor-navigation-focus-hover: #2196f3;
  --fontcolor-contacts: #757575;
  --fontcolor-contacts-focus-hover: #2196f3;
  --fontcolor-order-service-btn: #ffffff;
  --fontcolor-filter-btn-active: #ffffff;
  --fontcolor-teammates-positions: #757575;
  --fontcolor-projects-type: #757575;

  --fontcolor-footer: rgba(255, 255, 255, 0.6);
  --fontcolor-footer-links: rgba(255, 255, 255, 0.6);
  --fontcolor-footer-address: #ffffff;

  --bordercolor-project: #eeeeee;

  --logo-color: #2196f3;
  --logo-black: #212121;
  --logo-white: #ffffff;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  letter-spacing: 0.03em;
}

.logo .logo-black {
  color: var(--logo-black);
}

.logo .logo-white {
  color: var(--logo-white);
}

body {
  background: var(--bgcolor-body);
  font-family: Roboto;
  font-size: 16px;
  color: var(--fontcolor-body);
}

ul {
  list-style-type: none;
}

.navigation-element {
  color: var(--fontcolor-navigation);
  font-size: 14px;
  line-height: 1.15;
  font-weight: 500;
}

.navigation-element:hover,
.navigation-element:focus,
.navigation-element:active {
  color: var(--fontcolor-navigation-focus-hover);
}

.navigation-element .is-active {
  color: var(--fontcolor-navigation-focus-hover);
}

.contacts-header-element:hover,
.contacts-header-element:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--fontcolor-contacts-focus-hover);
}
.contacts-header-element,
.contacts-footer {
  color: var(--fontcolor-contacts);
  font-size: 14px;
}

.contacts-header-element {
  line-height: 1.15;
  font-weight: 500;
}

.contacts-footer {
  line-height: 1.72;
}

.hero-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
}

.order-service-btn {
  font-weight: 700;
  line-height: 1.88;
  color: var(--fontcolor-order-service-btn);
  background: var(--bgcolor-order-service-btn);
}
.order-service-btn:hover,
.order-service-btn:focus {
  background: var(--bgcolor-order-service-btn-hover);
}

.features .feature-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.15;
}

.features .feature-descr {
  font-size: 14px;
  line-height: 2;
}

.our-job .our-job-title {
  font-size: 36px;
  line-height: 1.67;
  font-weight: bold;
}

.our-team .our-team-header {
  font-size: 36px;
  line-height: 1.67;
  font-weight: bold;
}

.our-team .member-name {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}

.our-team .member-position {
  line-height: 1.19;
  color: var(--fontcolor-teammates-positions);
}

.filter-element button {
  background: var(--bgcolor-filter-btn);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.63;
}

.projects .filter-list {
  border: none;
  box-sizing: content-box;
}

.filter-element button:active,
.filter-element button:focus,
.filter-element button:hover {
  color: var(--fontcolor-filter-btn-active);
  background: var(--bgcolor-filter-btn-active);
}

footer {
  background: var(--bgcolor-footer);
  font-size: 14px;
  color: var(--fontcolor-footer);
  letter-spacing: 0.03em;
}

footer .page-contacts {
  font-style: normal;
  line-height: 1.7;
  color: var(--fontcolor-footer-address);
}

.projects .projects-element {
  border: 1px solid var(--bordercolor-project);
  box-sizing: border-box;
}

.projects .project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.projects .project-type {
  line-height: 1.88;
  color: var(--fontcolor-projects-type);
}

.container {
  width: 1200px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid;
}

.page-header .container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.page-header .logo {
  margin: 0;
}

.page-header .page-nav {
  margin: 0;
}

.page-header .navigation-element,
.page-header .contacts-header-element {
  margin: 0 50px 0 0;
}

.page-header .contacts-list-header {
  display: flex;
}

.page-header .main-nav-list {
  display: flex;
  justify-content: flex-start;
}

.navigation-element:last-child,
.contacts-header-element:last-child {
  margin-right: 0;
}
